name: Monitoramento Diario KM
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install requests beautifulsoup4
      - run: python monitor.py
      - name: Forcar Gravacao
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add dados.json
          git commit -m "KM Engenharia: Dados Atualizados" || exit 0
          git push origin main